.none {
  margin-bottom: 0 !important;
}
.tight {
  margin-bottom:6px;
}
.cozy {
  margin-bottom:12px;
}
.comfy {
  margin-bottom:18px;
}
.loose {
  margin-bottom:24px;
}
.r-tight {
  margin-right:6px;
}
.r-cozy {
  margin-right:12px;
}
.r-comfy {
  margin-right:18px;
}
.r-loose {
  margin-right:24px;
}
.r-wide {
  margin-right:48px;
}
.l-tight {
  margin-left:6px;
}
.l-cozy {
  margin-left:12px;
} 
.l-comfy {
  margin-left:18px;
} 

.l-loose {
  margin-left:24px;
}
.l-wide {
  margin-left:48px;
}

p, nav {
  font-size:1rem;
}
.rule-left {
  border-left: 1px solid $c-med;
  padding-left:18px;
}

.body {
  display:grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: auto minmax(1100px, 1600px) auto;
  grid-template-areas: 
  "header header header"
  "... content ...";
  font-family: "Open Sans",Helvetica Neue,Helvetica,Arial,sans-serif; 
  color:$black;
}

.main {
  margin:auto;
  height:6000px;
  grid-area: content;
  width:100%;
  padding:12px;
    @media screen and (min-width: 1624px) {
      padding:0;
    }
}

.icn {
  fill:$c-light;
  width:20px;
  height:20px;
  // border:1px solid red;
  vertical-align: middle;
  &.alert {
    fill:$negative;
  }
}

form {
  margin:0;
}

.center {
  text-align: center;
}
.white {
  color:$white;
}
.bold {
  font-weight:700;
}

.border-bottom {
  border-bottom: 1px solid $c-light;
}

textarea {
  margin-bottom: unset;
}