.one-column {
  width:100%;
}
.spacer-1 {
  height:rem(10);
  width:100%;
}
.spacer-2 {
  height:rem(20);
  width:100%;
}
.spacer-3 {
  height:rem(30);
  width:100%;
}
.spacer-4 {
  height:rem(40);
  width:100%;
}
.tight {
  margin-bottom:6px;
}
.cozy {
  margin-bottom:12px;
}
.comfy {
  margin-bottom:18px;
}
.loose {
  margin-bottom:24px;
}
.r-tight {
  margin-right:6px;
}
.r-cozy {
  margin-right:12px;
}
.flex {
  display:flex;
  &.space-between {
    justify-content: space-between;
  }
  &.vert-center {
    align-items: center;
  }
  &.bottom {
    align-items: flex-end;
  }
  &.center {
    justify-content: center;
  }
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
.hidden {
  width:0;
  height:0;
  overflow:hidden;
  position: absolute;
  left:-1000000px;
}

// h1 {
//     font-family: "Open Sans", fontstack("Arial");
//     font-size:em(32);
//     border:rem(1) solid red;
// }

// h2 {
//     font-family: "Droid Sans", fontstack("Extra Stack");
//     font-size:rem(32);
//     padding:rem(32), rem(20), rem(15), rem(0);
// }


.main {
  max-width:rem(1440);
  margin:auto;
  height:6000px;
  padding-top:36px;
}


.btn {
  padding:8px 18px;
  border:0;
  border-radius: 5px;
  border:1px solid $c-primary;
  letter-spacing: .05rem;
  font-size:14px;
  max-width:140px;
  display:block;
  width:100%;
  height:37px;
  &.primary {
    background-color:$c-primary;
    color:$white;
  }
  &.secondary {
    background-color:$white;
    color:$c-primary;
  }
  &:disabled {
    background-color:$c-x-light;
    color:$c-med;
    border:1px solid $c-x-light;
    &:hover {
      background-color:$c-x-light;
      color:$c-med;
      border:1px solid $c-x-light;
    }
  }
  &:hover {
    background-color:$c-primary-hover;
    color:$white;
    border:1px solid $c-primary-hover;
    transition: background-color .1s, border-color .1s, color .1s;
  }
}
a.btn {
  height:38px;
  display:block;
  text-align: center;
  cursor: pointer;
  &.round {
      display:block;
      width:60px;
      height:60px;
      background-color: $c-med;
      border-radius:50%;
      margin:12px;
      border-width:0px;
      padding:21px;
      &.small {
        width:40px;
        height:40px;
        padding:11px;
      }
  }
}

a {
  &.icn {
    width:20px;
    height:20px;
    display:block;
    border:1px solid red;
  }
}

.toggle[type="radio"] {
  position: absolute;
  left:-1000000000px;
  border:1px solid red;
    &+label {
      display:block;
      width:60px;
      height:60px;
      background-color: $c-med;
      border-radius:50%;
      margin:12px;
      padding:21px;
  }
  &:checked {
    &+label {
      background-color:red;
    }
  }
}
.icn {
  fill:$white;
  width:18px;
  height:18px;
}

td.tg-0pky {
  vertical-align:middle;
  padding:6px 6px 6px 0;
}
thead.fixed {
  // position:sticky;
  // top:0px;
  th.tg-0pky {
    padding:36px 6px 6px 0;
    background-color: $white;
    position:sticky;
    top:0px;
  }
}
th.fixed {
  width:120px;
}
th.icn-col {
  width:90px;
}
table {
  position: relative;
}
tbody {
  border-top:2px solid $c-med;
}
// thead {
//   border-bottom:2px solid $c-med;
// }

form {
  margin:0;
}
// body {
//   font-size:16px;
// }

p, nav {
  font-size:1rem;
}

.header {
  background-color:$c-x-x-light;
  .inside {
    max-width:rem(1440);
    margin:0 auto;
  }
}

.backdrop {
  width:0px;
  height:0px;
  overflow: hidden;
  position:absolute;
  right:-10000000000px;
  &.active {
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba($black, .8);
  }


}

.modal {
  width:100vw;
  height:100vh;
  border:1px solid red;
  padding-top: 12px;
}
.viewer-container {
  border:1px solid blue;
  width:100vw;
  height:85vh;
}

.page-viewer {
  height:85vh;
  width: calc(85vh*.7727);
  border:1px solid white;
}

.close-button {
  position: absolute;
  right:12px;
  top:12px;
}

.page-controls {
  border:1px solid green;
}